<div class="card m-2" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @topic.name%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @topic.course.name%></h6>
    <p class="card-text"><%= @topic.description%></p>
    <%= link_to "View Tests", students_topic_tests_path(@student,@course,@topic), class: "btn btn-primary" %>
  </div>
</div>

 