<div class="card-body">
    <h1 class="card-title">Students</h1>
</div>

<%if @students.blank?%>
    <p class="text-danger m-3">There is students</p>
<%else%>
    <h3 class="text-secondary m-3">List of Students </h3>
    <ul>
        <%@students.each do |student|%>
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%=student.name%></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%=student.department%></h6>
                    <%= link_to "View", student_path(student), class:"btn btn-info" %>
                </div>
            </div>
        <%end%>
    </ul>
<%end%>

<%= link_to "New Student", new_student_path, class: "btn btn-primary m-3" %>

