<h1>Students</h1>
<%if @students.blank?%>
    <h2>There is no Students</h3>
<%else%>
    <p>List of Students</p>
    <ul>
        <%@students.each do |student|%>
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%=student.name%></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%=student.department%></h6>
                    <%= link_to "View", student_path(student), class:"btn btn-info" %>
                </div>
            </div>
        <%end%>
    </ul>
<%end%>

<%= link_to "New Student", new_student_path, class: "btn btn-primary" %>
