<div class="card-body">
    <h1 class="card-title">Instructors</h1>
</div>

<%if @instructors.blank?%>
    <p class="text-danger m-3">There is no instructors</p>
<%else%>
    <h3 class="text-secondary m-3">List of Instructors </h3>
    <ul>
        <%@instructors.each do |instructor|%>
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%=instructor.name%></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%=instructor.designation%></h6>
                    <%= link_to "View", instructor_path(instructor), class:"btn btn-info" %>
                </div>
            </div>
        <%end%>
    </ul>
<%end%>

<%
=begin%>
 <%= link_to "New Instructor", new_instructor_path, class:"btn btn-primary m-3" %> 
<%
=end%>

