<h1>Instructors</h1>
<%if @instructors.blank?%>
    <h2>There is no instructors</h2>
<%else%>
    <p>List of Instructors </p>
    <ul>
        <%@instructors.each do |instructor|%>
          <li>  <%= link_to instructor.name, instructor_path(instructor) %></li>
        <%end%>
    </ul>
<%end%>

<%= link_to "New Instructor", new_instructor_path %>